services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Wexample\SymfonyTemplate\:
        resource: '../../{Service,Twig}'
        tags: ['controller.service_arguments']
